<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dyenigma.dao.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.dyenigma.entity.Permission">
        <id column="PMSN_ID" property="pmsnId" jdbcType="VARCHAR"/>
        <result column="PMSN_NAME" property="pmsnName" jdbcType="VARCHAR"/>
        <result column="PRNT_ID" property="prntId" jdbcType="VARCHAR"/>
        <result column="PRNT_NAME" property="prntName" jdbcType="VARCHAR"/>
        <result column="PMSN_CODE" property="pmsnCode" jdbcType="VARCHAR"/>
        <result column="SORT" property="sort" jdbcType="INTEGER"/>
        <result column="PMSN_TYPE" property="pmsnType" jdbcType="CHAR"/>
        <result column="STATUS" property="status" jdbcType="CHAR"/>
        <result column="PMSN_URL" property="pmsnUrl" jdbcType="VARCHAR"/>
        <result column="ICON_CLS" property="iconCls" jdbcType="VARCHAR"/>
        <result column="PMSN_DESC" property="pmsnDesc" jdbcType="VARCHAR"/>
        <result column="STATE" property="state" jdbcType="VARCHAR"/>
        <result column="IS_DEFAULT" property="isDefault" jdbcType="CHAR"/>
        <result column="IS_USED" property="isUsed" jdbcType="CHAR"/>
        <result column="CREATED" property="created" jdbcType="TIMESTAMP"/>
        <result column="LASTMOD" property="lastmod" jdbcType="TIMESTAMP"/>
        <result column="CREATER" property="creater" jdbcType="VARCHAR"/>
        <result column="MODIFYER" property="modifyer" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        PMSN_ID, PMSN_NAME, PRNT_ID, PRNT_NAME, PMSN_CODE, SORT, PMSN_TYPE, STATUS, PMSN_URL,
        ICON_CLS, PMSN_DESC, STATE, IS_DEFAULT, IS_USED, CREATED, LASTMOD, CREATER, MODIFYER
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from sys_permission
        where PMSN_ID = #{pmsnId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from sys_permission
        where PMSN_ID = #{pmsnId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.dyenigma.entity.Permission">
        insert into sys_permission (PMSN_ID, PMSN_NAME, PRNT_ID,
        PRNT_NAME, PMSN_CODE, SORT,
        PMSN_TYPE, STATUS, PMSN_URL,
        ICON_CLS, PMSN_DESC, STATE,
        IS_DEFAULT, IS_USED, CREATED,
        LASTMOD, CREATER, MODIFYER
        )
        values (#{pmsnId,jdbcType=VARCHAR}, #{pmsnName,jdbcType=VARCHAR}, #{prntId,jdbcType=VARCHAR},
        #{prntName,jdbcType=VARCHAR}, #{pmsnCode,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER},
        #{pmsnType,jdbcType=CHAR}, #{status,jdbcType=CHAR}, #{pmsnUrl,jdbcType=VARCHAR},
        #{iconCls,jdbcType=VARCHAR}, #{pmsnDesc,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR},
        #{isDefault,jdbcType=CHAR}, #{isUsed,jdbcType=CHAR}, #{created,jdbcType=TIMESTAMP},
        #{lastmod,jdbcType=TIMESTAMP}, #{creater,jdbcType=VARCHAR}, #{modifyer,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.dyenigma.entity.Permission">
        insert into sys_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pmsnId != null">
                PMSN_ID,
            </if>
            <if test="pmsnName != null">
                PMSN_NAME,
            </if>
            <if test="prntId != null">
                PRNT_ID,
            </if>
            <if test="prntName != null">
                PRNT_NAME,
            </if>
            <if test="pmsnCode != null">
                PMSN_CODE,
            </if>
            <if test="sort != null">
                SORT,
            </if>
            <if test="pmsnType != null">
                PMSN_TYPE,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="pmsnUrl != null">
                PMSN_URL,
            </if>
            <if test="iconCls != null">
                ICON_CLS,
            </if>
            <if test="pmsnDesc != null">
                PMSN_DESC,
            </if>
            <if test="state != null">
                STATE,
            </if>
            <if test="isDefault != null">
                IS_DEFAULT,
            </if>
            <if test="isUsed != null">
                IS_USED,
            </if>
            <if test="created != null">
                CREATED,
            </if>
            <if test="lastmod != null">
                LASTMOD,
            </if>
            <if test="creater != null">
                CREATER,
            </if>
            <if test="modifyer != null">
                MODIFYER,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pmsnId != null">
                #{pmsnId,jdbcType=VARCHAR},
            </if>
            <if test="pmsnName != null">
                #{pmsnName,jdbcType=VARCHAR},
            </if>
            <if test="prntId != null">
                #{prntId,jdbcType=VARCHAR},
            </if>
            <if test="prntName != null">
                #{prntName,jdbcType=VARCHAR},
            </if>
            <if test="pmsnCode != null">
                #{pmsnCode,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="pmsnType != null">
                #{pmsnType,jdbcType=CHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=CHAR},
            </if>
            <if test="pmsnUrl != null">
                #{pmsnUrl,jdbcType=VARCHAR},
            </if>
            <if test="iconCls != null">
                #{iconCls,jdbcType=VARCHAR},
            </if>
            <if test="pmsnDesc != null">
                #{pmsnDesc,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=VARCHAR},
            </if>
            <if test="isDefault != null">
                #{isDefault,jdbcType=CHAR},
            </if>
            <if test="isUsed != null">
                #{isUsed,jdbcType=CHAR},
            </if>
            <if test="created != null">
                #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="lastmod != null">
                #{lastmod,jdbcType=TIMESTAMP},
            </if>
            <if test="creater != null">
                #{creater,jdbcType=VARCHAR},
            </if>
            <if test="modifyer != null">
                #{modifyer,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dyenigma.entity.Permission">
        update sys_permission
        <set>
            <if test="pmsnName != null">
                PMSN_NAME = #{pmsnName,jdbcType=VARCHAR},
            </if>
            <if test="prntId != null">
                PRNT_ID = #{prntId,jdbcType=VARCHAR},
            </if>
            <if test="prntName != null">
                PRNT_NAME = #{prntName,jdbcType=VARCHAR},
            </if>
            <if test="pmsnCode != null">
                PMSN_CODE = #{pmsnCode,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                SORT = #{sort,jdbcType=INTEGER},
            </if>
            <if test="pmsnType != null">
                PMSN_TYPE = #{pmsnType,jdbcType=CHAR},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=CHAR},
            </if>
            <if test="pmsnUrl != null">
                PMSN_URL = #{pmsnUrl,jdbcType=VARCHAR},
            </if>
            <if test="iconCls != null">
                ICON_CLS = #{iconCls,jdbcType=VARCHAR},
            </if>
            <if test="pmsnDesc != null">
                PMSN_DESC = #{pmsnDesc,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                STATE = #{state,jdbcType=VARCHAR},
            </if>
            <if test="isDefault != null">
                IS_DEFAULT = #{isDefault,jdbcType=CHAR},
            </if>
            <if test="isUsed != null">
                IS_USED = #{isUsed,jdbcType=CHAR},
            </if>
            <if test="created != null">
                CREATED = #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="lastmod != null">
                LASTMOD = #{lastmod,jdbcType=TIMESTAMP},
            </if>
            <if test="creater != null">
                CREATER = #{creater,jdbcType=VARCHAR},
            </if>
            <if test="modifyer != null">
                MODIFYER = #{modifyer,jdbcType=VARCHAR},
            </if>
        </set>
        where PMSN_ID = #{pmsnId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dyenigma.entity.Permission">
        update sys_permission
        set PMSN_NAME = #{pmsnName,jdbcType=VARCHAR},
        PRNT_ID = #{prntId,jdbcType=VARCHAR},
        PRNT_NAME = #{prntName,jdbcType=VARCHAR},
        PMSN_CODE = #{pmsnCode,jdbcType=VARCHAR},
        SORT = #{sort,jdbcType=INTEGER},
        PMSN_TYPE = #{pmsnType,jdbcType=CHAR},
        STATUS = #{status,jdbcType=CHAR},
        PMSN_URL = #{pmsnUrl,jdbcType=VARCHAR},
        ICON_CLS = #{iconCls,jdbcType=VARCHAR},
        PMSN_DESC = #{pmsnDesc,jdbcType=VARCHAR},
        STATE = #{state,jdbcType=VARCHAR},
        IS_DEFAULT = #{isDefault,jdbcType=CHAR},
        IS_USED = #{isUsed,jdbcType=CHAR},
        CREATED = #{created,jdbcType=TIMESTAMP},
        LASTMOD = #{lastmod,jdbcType=TIMESTAMP},
        CREATER = #{creater,jdbcType=VARCHAR},
        MODIFYER = #{modifyer,jdbcType=VARCHAR}
        where PMSN_ID = #{pmsnId,jdbcType=VARCHAR}
    </update>


    <select id="adminMenu" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_permission
        WHERE STATUS = 'E'
        AND PMSN_TYPE = #{pmsnType,jdbcType=CHAR} AND IS_USED = 'Y' ORDER BY SORT
    </select>

    <select id="usersMenu" resultMap="BaseResultMap">
        SELECT DISTINCT p.PMSN_ID,p.PRNT_ID,p.PMSN_NAME,p.ICON_CLS,p.PMSN_URL,p.PMSN_CODE
        FROM sys_permission p
        WHERE pmsn_id IN (
        SELECT pmsn_Id FROM sys_user_pmsn
        WHERE USER_Id = #{0} AND STATUS = 'E'
        UNION
        SELECT DISTINCT pmsn_id FROM sys_role_pmsn WHERE role_id IN (
        SELECT DISTINCT role_id FROM sys_post_role WHERE post_id IN (
        SELECT Post_id FROM sys_user_post WHERE user_Id = #{0} AND STATUS = 'E'
        ) AND STATUS = 'E'
        UNION
        SELECT DISTINCT role_id FROM sys_prj_role WHERE prj_id IN (
        SELECT prj_id FROM sys_prj_user WHERE user_Id = #{0} AND STATUS = 'E'
        ) AND STATUS = 'E'
        UNION
        SELECT role_id FROM sys_user_role WHERE user_id = #{0} AND STATUS = 'E'
        ) AND STATUS = 'E'
        ) AND STATUS = 'E' and PMSN_TYPE = #{1} order by PRNT_ID,SORT
    </select>

    <select id="findRootMenu" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_permission
        WHERE STATUS='E' AND
        PRNT_ID = '0' ORDER BY SORT
    </select>

    <select id="findAllMenu" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_permission WHERE STATUS='E'
    </select>

    <!--TODO 默认权限添加到默认角色中-->
    <select id="findAllDefault" resultMap="BaseResultMap">
        SELECT PMSN_ID FROM sys_permission WHERE STATUS='E' AND IS_DEFAULT='Y'
    </select>

    <select id="findByPid" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_permission
        WHERE STATUS='E' AND PRNT_ID = #{prntId,jdbcType=VARCHAR} ORDER BY SORT
    </select>

    <select id="findSuperFunc" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_permission
        WHERE STATUS = 'E' AND PMSN_TYPE = 'M' ORDER BY SORT
    </select>

    <update id="updateById" parameterType="java.lang.String">
        UPDATE sys_permission SET
        IS_USED='N',STATUS='I' WHERE PMSN_ID=#{id,jdbcType=VARCHAR}
    </update>


</mapper>